#shadow[data-shadow-active="true"] {
    visibility: visible;
    opacity: 1;
}

#shadow {
    display: block;
    background-color: #010b26b3;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
    z-index: 10;
    top: 100px;
}