// Header
// $headerNavBgColor: #f0faff;
$headerNavBgColor: #f8fbff;
$headerNavAccentColor: #e5eefb;
$headerNavLinksColor: #032237;
$logoColor: #1b203f;

$headerBannerHeight: 100px;
$headerNavigationHeight: 60px;

// Sidebar 
$sidebarNavColor: #f0faff;
$sidebarLinksColor: #032237;

// Text
// $headingColor: #024f7d;
$headingColor: #004166;
// $ctaBaseColor: #036388;
$ctaBaseColor: #036988;
$promoBackgroundColorGrey: #f8fafb;
$promoBackgroundColorBlue: #eff9ff;


// Footer
// $footerBackgroundColor: #d5eefd;
// $footerBackgroundColor: #ddeef9;
$footerBackgroundColor: #fff;
$footerCopyrightColor: #d0e7f5;
$footerTextColor: #396f80;